{
  "extends": [
    "openlayers",
    "eslint:recommended"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "ecmaFeatures": {
      "jsx": true,
    }
  },
  "rules": {
    "valid-jsdoc": "off"
  }
}
